.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.todo__form {
  display: flex;
}

.todo__list {
  justify-content: center;
  align-items: center;
}

.todo__list ul {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .App {
    width: 300px;
  }
}
