.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.todo__list {
  width: 800px;
}

.todo__form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
